.info {
  &__paragraph {
    color: #969af7;
    font-size: 23px;
    font-weight: 400;
    line-height: 129.8%;
  }

  &__list-advantages {
    position: relative;
    margin-top: 37px;
    padding: 25px 25px 25px 59px;

    &:before {
      content: "";
      position: absolute;
      border-radius: 10px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(90deg, #969af7 1.34%, rgba(150, 154, 247, 0) 96.66%);
      opacity: 0.3;
    }

    & li {
      position: relative;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      line-height: 129.8%;
    }

    & li::before {
      width: 14px;
      height: 11px;
      top: 0.4em;
      left: -28px;
      position: absolute;
      content: "";
      background-image: url("/img/icons/check.svg");
    }
  }
}

h1 {
  margin-bottom: 4px;
  font-family: "FuturaFuturisC", sans-serif;
  font-size: 69px;
  font-weight: 700;
  line-height: 99.8%;
  text-transform: uppercase;

  & p:nth-child(1) {
    color: #969af7;
    font-size: 56px;
    line-height: 99.8%;
    text-transform: none;
  }
  & p:nth-child(2) {
    font-size: 61px;
    line-height: 122.8%;
  }
}
